.wrapper {
  text-align: center;
}
.background {
  background: #f6f9fc;
  padding: 50px 0;
}

.wrapper .product {
  padding: 30px;
}
.product {
  background: #fff;
  min-height: 200px;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
  cursor: pointer;
}
.wrapper .img {
  margin: auto;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-bottom: 20px;
}
.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}
.wrapper .product h3 {
  font-weight: 500;
}
.product h3 {
  font-weight: 400;
  font-size: 17px;
}
