@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  border-radius: 1px;
  /* outline: none; */
}

.lead {
  font-weight: 700;
  color: #e03a3c;
}

/************ Navbar ****************/
.navbar-brand {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 0;
  font-size: 1rem;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    border-radius: 0;
  }
}
.navbar-nav li a {
  font-size: 17px;
}
.navbar ul li {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.navbar ul li .nav-link:hover {
  color: rgb(227, 23, 23);
}

.navbar-rand {
  letter-spacing: 3px;
}

/************ card ****************/
.card {
  transition: all 0.3s ease;
  border-radius: 1px;
}

.card:hover {
  transform: scale(1.02);
}

/************* product ************/

.product img {
  transition: all 0.3s ease;
  cursor: pointer;
}

.product img:hover {
  transform: scale(1.03);
}

/********** Brends ****************/

.brand-img {
  opacity: 0.5;
  transition: 0.5s;
  height: 70px;
  width: 120px;
}
.brand-img:hover {
  opacity: 1;
}

/************* productDetiels ************/
.list-group-item {
  position: relative;
  display: block;
  padding: 1.125rem 1.5rem;
  color: #16192c;
  background-color: transparent;
  border: 1px solid #e7eaf0;
}

/************* Cart ************/

.cart img {
  width: 100px;
}

/********** Contact ****************/

#main {
  min-height: 80vh;
}
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}
.contact .info-box {
  color: #444;
  text-align: center;
  box-shadow: 0 0 30px #d6d7d899;
  padding: 30px 0 32px;
  border-radius: 4px;
}
.contact .info-box i {
  font-size: 32px;
  color: #e03a3c;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #f8d4d5;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #777;
  font-weight: 700;
  margin: 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.bg-white {
  --x-bg-opacity: 1;
  background-color: rgba(var(--x-white-rgb), var(--x-bg-opacity)) !important;
}
.contact .php-email-form {
  box-shadow: 0 0 30px #d6d7d899;
  padding: 30px;
  border-radius: 4px;
}
.contact .php-email-form .form-group {
  margin-bottom: 25px;
}
.contact .php-email-form input {
  padding: 10px 15px;
  border-radius: 2px;
}
.contact .php-email-form textarea {
  border-radius: 2px;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

/********** footer ****************/

#footer {
  color: #fff;
  font-size: 14px;
  background: #111111;
}
#footer .footer-top {
  padding: 60px 0 30px;
  background: #1b1b1b;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: Raleway, sans-serif;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul a {
  color: #aaa;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-newsletter {
  font-size: 15px;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2b2b2b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
